@model LudoBrowser.Models.GameModel
@{
    ViewData["Title"] = "GameInformation";
}

<h1>GameInformation</h1>

<div>
    <h4>GameModel</h4>
    <hr />
    <table cellspacing="0" style="border-collapse:collapse;">
        <tbody>
            <tr>
                <td>
                    <strong>  @Html.DisplayNameFor(model => model.GameId) : </strong>
                    <span>@Html.DisplayFor(model => model.GameId)</span>
                    <br />
                    <strong>  @Html.DisplayNameFor(model => model.NumberOfPlayers) : </strong>
                    <span> @Html.DisplayFor(model => model.NumberOfPlayers)</span>
                    <br />
                    <strong>  @Html.DisplayNameFor(model => model.CurrentPlayerId) : </strong>
                    <span> @Html.DisplayFor(model => model.CurrentPlayerId)</span>
                    <br />
                    <strong> @Html.DisplayNameFor(model => model.State) : </strong>
                    <span>@Html.DisplayFor(model => model.State)</span>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div id="Input">
        <form action="/startgame/@Html.DisplayFor(model => model.GameId)" method="get">
            <div class="form-group">
                <label for="exampleInputEmail1">RED PLAYER</label>
                <input type="text" class="form-control name" name="name1" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">YELLOW PLAYER</label>
                <input type="text" class="form-control name" name="name2" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">GREEN PLAYER</label>
                <input type="text" class="form-control name" name="name3" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">BLUE PLAYER</label>
                <input type="text" class="form-control name" name="name4" placeholder="Enter Name">
            </div>
            <button type="submit" id="newgame" class="btn btn-success">Enter into the Game</button>
        </form>
        <br />
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/delete/@Html.DisplayFor(model => model.GameId)" type="button" class="btn btn-warning">Delete Game</a>
        </div>
    </div>

</div>
@section Scripts {
    <script>

    if (@Html.DisplayFor(model => model.NumberOfPlayers) > 1) {
        $("#Input").show();
    }
    else { $("#Input").show();}
    $("#newgame").click((e) => {
        e.preventDefault();
        let playerList = [];
        var values = $("input[type='text']")
            .map(function () {
                if ($(this).val() != "")
                    playerList.push($(this).val());
            }).get();
        console.log(playerList);
        if (playerList.length > 1)
            $('form').submit();
        else
            alert("Atleast 2 player is needed to start the game");
    })
    </script>
}
